extends layout

block content
  h1= title
  .bg-light.p-3.shadow-sm
    h2 Welcome to #{title}
    div Click
      | 
      a.btn-sm.badge-primary(href="/edit") here
      | 
      | to create your
      | 
      strong MIMEMI Filter
      | 
      | .